body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
  background-color: #e4f9f5;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}



h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  margin: 0;
  color: #66bfbf;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;

}

.pro {
  text-decoration: underline;
}


.top-container {
  padding-top: 100px;
}

.pic {

  margin-top: 10rem;
  width: 11rem;

}


hr {
  border: dotted #eaf6f6;
  margin: 100px auto;
}


.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

li {
  list-style-type: none;
}


.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}


.my-skills {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 6em;
  width: 6em;
}

p {
  width: 30%;

  margin: 0 auto;
}

.my-skills span {
  margin-top: 5px;

}

.my-skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;

}

.contact-me {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}

.contact-me h2 {
  margin-bottom: 40px;
}

.contact-me h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact-me p {
  margin-bottom: 40px;
  width: 100%;
}



.bottom-container {
  text-align: center;
  padding: 20px;
}

.bottom-container a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

.bottom-container p {
  margin-top: 20px;
  color: white;
  margin-bottom: 30px;
  font-size: 0.8rem;
}